<!-- gradient -->
<header class="mb-12">
  <div class="bg-gradient-to-r from-msk-purple to-msk-orange">
    <div class="parent">
      <div class="div1">
        <div class="l">
          <a href="/" title="Muskaat Online Marketing Neumünster">
            <img
              src="/images/muskaat-logo.svg"
              alt="Muskaat Online Marketing Neumünster"
              class="h-20 w-auto mx-auto"
            />
            <img
              src="/images/muskaat-logo-small.svg"
              alt="Muskaat Online Marketing Neumünster"
              class="h-auto w-20 mx-auto"
            />
          </a>
        </div>
        <div class="c">
          <div class="c1">LEISTUNGS­STARKE WEBSITES</div>
          <div class="c3">ENTWICKLUNG · OPTIMIERUNG · MARKETING</div>
        </div>
      </div>
      <div class="div2">
        <img src="/images/graph.png" alt="" />
      </div>
    </div>
  </div>
</header>
