<div class="graph">
  <section class="gradient">
    <div class="l">
      <a href="" title="Muskaat Online Marketing Neumünster">
        <img src="/images/muskaat-logo.svg" alt="Muskaat Online Marketing Neumünster" data="" -link="" />
      </a>
    </div>
    <div class="c">
      <h1 class="c1">LEISTUNGS­STARKE WEBSITES</h1>
      <h2 class="c3">ENTWICKLUNG · OPTIMIERUNG · MARKETING</h2>
    </div>
    <div class="bg">
      <img src="/images/graph.png" alt="">
    </div>
  </section>
</div>

