<title>{{ seo.title or title }}</title>
{%- if seo.robots -%}
<meta name="robots" content="{{ seo.robots }}" />
{%- else -%}
<meta name="robots" content="noindex, follow" />
{%- endif -%}


<meta name="description" content="{{ seo.desc }}" />

<meta property="og:site_name" content="{{ seo.title or title }}">
<meta property="og:locale" content="{{ site.locale }}">

<meta property="og:title" content="{{ seo.title or title }}">
<meta property="og:description" content="{{ seo.desc }}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">

{%- if image -%}
<meta property="og:image" content="{%- if image -%}{{ site.url }}{{ page.url }}{{ image }}{%- endif -%}">
{%- endif -%}

<link rel="canonical" href="{{ site.url }}{{ page.url }}">
<meta name="generator" content="Eleventy v1.0.1">
