/*
project--wrapper 
  project--list
    project
      cover
        index
          logo
          title
          desc
          topics
        image
 */

.project--wrapper {
  margin: 0 auto;
  max-width: calc(1250px + 2rem);
  padding: 2rem;
}
// .project--list {
// padding: 2rem;
// }
.project {
  background: white;
  box-shadow: 0px 3px 12px -6px #ccc;

  + .project {
    // border: 20px solid orange;
    margin-top: 2rem;
  }

  a {
    text-decoration: none;
  }
}

.cover {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.index {
  display: grid;
  grid-template-rows: min-content min-content min-content 1fr;
  padding: 3rem 2rem 1rem 2rem;
  text-align: center;

  .title {
    font-size: 15px;
    font-weight: bold;
    line-height: 2;
  }

  .desc {
    line-height: 1.2;
    font-size: 14px;
  }
}

.topics {
  align-self: end;
  font-size: small;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline;
      margin: 0;
      padding: 0;

      + li {
        margin-left: 0.25rem;

        &::before {
          content: " · ";
          margin-right: 0.25rem;
        }
      }
    }
  }
}

.logo img {
  border-radius: 50%;
  display: block;
  height: 90px;
  margin: 0 auto 1rem auto;
  width: 90px;
  object-fit: cover;
  // border: 2px solid pink;
}
.image img {
  aspect-ratio: 416 / 219;
  object-fit: cover;
  // border: 2px solid orange;
  display: block;
  width: 100%;
}
