.container {
  margin: 0 auto;
  max-width: 1080px;
}
.container.small {
  max-width: 480px;
}
.container.medium {
  max-width: 740px;
}
.container.regular {
  max-width: 1080px;
}
.container.large {
  max-width: 1440px;
}
.container.xlarge {
  max-width: 1920px;
}
