<!DOCTYPE html>
<html lang="{{ site.lang }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ seotitle or title }}</title>
    <meta name="robots" content="noindex, nofollow" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    <link rel="stylesheet" href="/assets/css/style.css">
    {% block css %}
      
    {% endblock %}
  </head>
  <body>
    {% include "header--graph.njk" %}
    {{ content | safe }}
  </body>
</html>
