<!DOCTYPE html>
<html lang="{{ site.lang }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ seotitle or title }}</title>
    <meta name="robots" content="noindex, nofollow" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    <link rel="stylesheet" href="/assets/css/style.css">
    {# <link rel="stylesheet" href="/assets/css/_fonts/opensans.css"> #}
    {# <link rel="stylesheet" href="/assets/css/_fonts/sourcesanspro.css"> #}
    {% block css %}
      {# optional #}
    {% endblock %}
  </head>
  <body>
    {% include "header--graph.njk" %}
    {{ content | safe }}
  </body>
  <a href="https://github.com/webmanufaktur/muskaat.dev/blob/master/{{ page.inputPath }}" rel="nofollow noopener noreferrer" target="_blank">Edit this page on GitHub</a>
</html>
