<!DOCTYPE html>
<html lang="{{ site.lang }}" class="bg-gray-100">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    {% include "seo.njk" %}
    <link rel="stylesheet" href="/assets/css/tailwind.dist.css" />
    <link rel="stylesheet" href="/assets/css/opensans.css" />
    <link rel="stylesheet" href="/assets/css/sourcesanspro.css" />
  </head>
  <body class="max-w-[1920px] mx-auto shadow-xl" id="top">
    <!-- HEADER -->
    {% include "header--graph.html" %}

    <!-- CONTENT -->
    {{ content | safe }}

    <hr />
    <!-- FOOTER -->
    {% include "footer.html" %}
  </body>
</html>
