{% extends "src/_layouts/base.njk" %}

{% block css %}
<style>
{%- include "referenz-colors.njk" -%}
</style>
{% endblock %}

{% block content %}
<div class="project--wrapper">
  <div class="project--list">
  {%- asyncEach ref in collections.referenzen -%}
    {% include "referenz--card.njk"%}
  {%- endeach -%}
  </div>
</div>

<div class="container medium">
  <div class="callout">
    {{ content  | safe }}
    <a href="#" class="btn">Hier ist der Link</a>
  </div>
</div>
{% endblock %}

