---
layout: base
---


<div class="container medium">

<div class="projekt projekt--{{ page.fileSlug }}">
  <h1>{{ project or title }}</h1>
  <p>{{ project }}</p>
  <div class="desc">
    <p>{{ desc }}</p>
  </div>
  <ul>
    {% for topic in topics %}
    <li>
      {{ topic }}
    </li>
    {% endfor %}
  </ul>
  <ul>
    {% for item in tasks %}
    <li>
      {% for label, desc in tasks[loop.index0] %}
      <div>
        <strong>{{ label }}</strong> {{ desc }}
      </div>
    </li>
    {% endfor %} {% endfor %}
  </ul>
  <hr />
  {{ colorBrand }}

  <hr />
  {{ colorText }}
  <hr />
  <img src="./{{ logo }}" alt="" />
  <hr />
  <img src="./{{ screenMobile }}" alt="" />
  <hr />
  <img src="./{{ screenDesktop }}" alt="" />
  <hr />
  <a href="{{ url }}" target="_blank" rel="nofollow noreferer noopener"
    >Webseite</a
  >
</div>
    {{content | safe}}
    </div>

