@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.6;
}

body {
  background: #f6f4f4;
  color: #3c3c3c;
  margin: 0;
}

html {
  background: #efefef;
}

body {
  margin: 0 auto;
  max-width: 1920px;
}

p {
  font-size: 16px;
  line-height: 26px;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

figure {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif;
}

article {
  margin: 0 auto;
  max-width: 1080px;
}

article > *:not(figure) {
  margin-right: auto;
  margin-left: auto;
  max-width: 640px;
}

article > figure {
  margin: 2rem auto;
  display: table;
  padding: 0 2rem;
  max-width: 1024px;
}

article > h1 {
  text-align: center;
}

figcaption {
  max-width: 70ex;
  margin: 1rem auto 0 auto;
}

.btn {
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  background: #cb5946;
  color: #fff;
  color: #001127;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 0.75rem 1.25rem;
  text-decoration: none;
  text-transform: uppercase;
}

.container {
  margin: 0 auto;
  max-width: 1080px;
}
.container.small {
  max-width: 480px;
}
.container.medium {
  max-width: 740px;
}
.container.regular {
  max-width: 1080px;
}
.container.large {
  max-width: 1440px;
}
.container.xlarge {
  max-width: 1920px;
}

.gradient {
  background: linear-gradient(to right, #89207c 0%, #89207c 20%, #ce583e 80%, #ce583e 100%);
  background-position: center center;
  background-repeat: no-repeat;
  background-blend-mode: screen;
}

.parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1/1/2/2;
  z-index: 1;
  padding: 3rem;
  min-height: 500px;
  text-align: center;
}
.div1 .c {
  color: white;
}
.div1 .c * {
  margin: 0px;
  padding: 0;
  font-weight: 300;
}

.l img {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 220px;
  padding-bottom: 3rem;
}

.div2 {
  grid-area: 1/1/2/2;
  align-self: end;
}

.div2 img {
  display: block;
  height: auto;
  width: 100%;
}

/*
project--wrapper 
  project--list
    project
      cover
        index
          logo
          title
          desc
          topics
        image
 */
.project--wrapper {
  margin: 0 auto;
  max-width: calc(1250px + 2rem);
  padding: 2rem;
}

.project {
  background: white;
  box-shadow: 0px 3px 12px -6px #ccc;
}
.project + .project {
  margin-top: 2rem;
}
.project a {
  text-decoration: none;
}

.cover {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.index {
  display: grid;
  grid-template-rows: min-content min-content min-content 1fr;
  padding: 3rem 2rem 1rem 2rem;
  text-align: center;
}
.index .title {
  font-size: 15px;
  font-weight: bold;
  line-height: 2;
}
.index .desc {
  line-height: 1.2;
  font-size: 14px;
}

.topics {
  align-self: end;
  font-size: small;
}
.topics ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.topics ul li {
  display: inline;
  margin: 0;
  padding: 0;
}
.topics ul li + li {
  margin-left: 0.25rem;
}
.topics ul li + li::before {
  content: " · ";
  margin-right: 0.25rem;
}

.logo img {
  border-radius: 50%;
  display: block;
  height: 90px;
  margin: 0 auto 1rem auto;
  width: 90px;
}

.image img {
  aspect-ratio: 416/219;
  display: block;
  width: 100%;
}

/* open-sans-300 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: local(""), url("/assets/fonts/opensans/open-sans-v28-latin-300.woff2") format("woff2"), url("/assets/fonts/opensans/open-sans-v28-latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local(""), url("/assets/fonts/opensans/open-sans-v28-latin-regular.woff2") format("woff2"), url("/assets/fonts/opensans/open-sans-v28-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-500 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: local(""), url("/assets/fonts/opensans/open-sans-v28-latin-500.woff2") format("woff2"), url("/assets/fonts/opensans/open-sans-v28-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: local(""), url("/assets/fonts/opensans/open-sans-v28-latin-600.woff2") format("woff2"), url("/assets/fonts/opensans/open-sans-v28-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local(""), url("/assets/fonts/opensans/open-sans-v28-latin-700.woff2") format("woff2"), url("/assets/fonts/opensans/open-sans-v28-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-800 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: local(""), url("/assets/fonts/opensans/open-sans-v28-latin-800.woff2") format("woff2"), url("/assets/fonts/opensans/open-sans-v28-latin-800.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-300italic - latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src: local(""), url("/assets/fonts/opensans/open-sans-v28-latin-300italic.woff2") format("woff2"), url("/assets/fonts/opensans/open-sans-v28-latin-300italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-italic - latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: local(""), url("/assets/fonts/opensans/open-sans-v28-latin-italic.woff2") format("woff2"), url("/assets/fonts/opensans/open-sans-v28-latin-italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-500italic - latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: local(""), url("/assets/fonts/opensans/open-sans-v28-latin-500italic.woff2") format("woff2"), url("/assets/fonts/opensans/open-sans-v28-latin-500italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600italic - latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: local(""), url("/assets/fonts/opensans/open-sans-v28-latin-600italic.woff2") format("woff2"), url("/assets/fonts/opensans/open-sans-v28-latin-600italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700italic - latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: local(""), url("/assets/fonts/opensans/open-sans-v28-latin-700italic.woff2") format("woff2"), url("/assets/fonts/opensans/open-sans-v28-latin-700italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-800italic - latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src: local(""), url("/assets/fonts/opensans/open-sans-v28-latin-800italic.woff2") format("woff2"), url("/assets/fonts/opensans/open-sans-v28-latin-800italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-sans-pro-200 - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: local(""), url("/assets/fonts/sourcesanspro/source-sans-pro-v21-latin-200.woff2") format("woff2"), url("/assets/fonts/sourcesanspro/source-sans-pro-v21-latin-200.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-sans-pro-200italic - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src: local(""), url("/assets/fonts/sourcesanspro/source-sans-pro-v21-latin-200italic.woff2") format("woff2"), url("/assets/fonts/sourcesanspro/source-sans-pro-v21-latin-200italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-sans-pro-300 - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: local(""), url("/assets/fonts/sourcesanspro/source-sans-pro-v21-latin-300.woff2") format("woff2"), url("/assets/fonts/sourcesanspro/source-sans-pro-v21-latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-sans-pro-300italic - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src: local(""), url("/assets/fonts/sourcesanspro/source-sans-pro-v21-latin-300italic.woff2") format("woff2"), url("/assets/fonts/sourcesanspro/source-sans-pro-v21-latin-300italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-sans-pro-regular - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local(""), url("/assets/fonts/sourcesanspro/source-sans-pro-v21-latin-regular.woff2") format("woff2"), url("/assets/fonts/sourcesanspro/source-sans-pro-v21-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-sans-pro-italic - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: local(""), url("/assets/fonts/sourcesanspro/source-sans-pro-v21-latin-italic.woff2") format("woff2"), url("/assets/fonts/sourcesanspro/source-sans-pro-v21-latin-italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-sans-pro-600 - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: local(""), url("/assets/fonts/sourcesanspro/source-sans-pro-v21-latin-600.woff2") format("woff2"), url("/assets/fonts/sourcesanspro/source-sans-pro-v21-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-sans-pro-600italic - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: local(""), url("/assets/fonts/sourcesanspro/source-sans-pro-v21-latin-600italic.woff2") format("woff2"), url("/assets/fonts/sourcesanspro/source-sans-pro-v21-latin-600italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-sans-pro-700 - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local(""), url("/assets/fonts/sourcesanspro/source-sans-pro-v21-latin-700.woff2") format("woff2"), url("/assets/fonts/sourcesanspro/source-sans-pro-v21-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-sans-pro-700italic - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: local(""), url("/assets/fonts/sourcesanspro/source-sans-pro-v21-latin-700italic.woff2") format("woff2"), url("/assets/fonts/sourcesanspro/source-sans-pro-v21-latin-700italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-sans-pro-900 - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: local(""), url("/assets/fonts/sourcesanspro/source-sans-pro-v21-latin-900.woff2") format("woff2"), url("/assets/fonts/sourcesanspro/source-sans-pro-v21-latin-900.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-sans-pro-900italic - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src: local(""), url("/assets/fonts/sourcesanspro/source-sans-pro-v21-latin-900italic.woff2") format("woff2"), url("/assets/fonts/sourcesanspro/source-sans-pro-v21-latin-900italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
