---
permalink: '/assets/css/theme.css'
excludeFromSitemap: true
---

{%- for ref in collections.referenzen %}
  .project--{{ ref.fileSlug }} {
    background-color: {{ ref.data.colorBrand }};
    color: white;
  }
{% endfor -%}
